---
import Lines from "./Lines.astro";
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16">
      <div class="flex justify-center items-center flex-col md:flex-row gap-8 sm:gap-10">

        <div class="flex  max-w-3xl flex-col items-start gap-4 sm:gap-6">
          <h1  class="text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl font-display text-secondary">
            Creamos soluciones con un enfoque estratégico dirigido a generar un impacto sostenible en el desarrollo de México.
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Además, proporcionamos el apoyo necesario para maximizar el alcance y la eficacia de estas soluciones, asegurando un cambio significativo y duradero para nuestro país.
          </p>
        </div>
      <Lines></Lines>
      </div>
      <img
        data-aos="zoom-in" data-aos-mirror="true" data-aos-duration="1000"
        class="h-auto w-full "
        width="1280"
        height="640"
        src="/assets/hero.webp"
        alt="Hero picture"
      />
    </div>
  </div>
</section>
