---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---
<div class="max-h-full w-full aspect relative aspect-square p-2 rounded-3xl flex flex-col justify-center items-center bg-main-500">

        <div class="w-1/2 -scale-100"><LottieAnimation player="light" src="assets/line.json" autoplay="visible" /></div>
        <div class="w-1/2 scale-150 "><LottieAnimation player="light" src="assets/line.json" autoplay="visible" /></div>
        <div class="w-2/3 -scale-100"><LottieAnimation player="light" src="assets/line2.json" autoplay="visible" /></div>
        <div class="w-2/3 scale-150"><LottieAnimation player="light" src="assets/line2.json" autoplay="visible" /></div>
        <div class="w-full"><LottieAnimation player="light" src="assets/line3.json" autoplay="visible" /></div>
        <div class="w-1/2 -scale-100 "><LottieAnimation player="light" src="assets/line.json" autoplay="visible" /></div>
        <div class="w-1/2  scale-150"><LottieAnimation player="light" src="assets/line.json" autoplay="visible" /></div>
        <div class="w-2/3 -scale-100 "><LottieAnimation player="light" src="assets/line2.json" autoplay="visible" /></div>
        <div class="w-2/3  scale-150"><LottieAnimation player="light" src="assets/line2.json" autoplay="visible" /></div>
    
    <div class="absolute inset-0 flex justify-center items-center bg-accent -z-10 overflow-hidden">
        <img src="assets/cambio.svg" class="w-[130%] max-w-[130%]">
    </div>
</div>
