---
import Scene3D from "../inner/scene3d.astro";
const services = [
  {
    step: '01',
    name: 'APRENDE',
    description:
      'Cursos y rutas de aprendizaje para desarrollar una mentalidad y competencias de agente de cambio.',
    bg: 'bgaprende.webp',
    anim: '3daprende.splinecode'
  },
  {
    step: '02',
    name: 'CONECTA',
    description:
      'Interactua en comunidades con otros agentes de cambio, compartir ideas y conectar con mentores.',
      bg: 'bgconecta.webp',
      anim: '3dconecta.splinecode'
  },
  {
    step: '03',
    name: 'IMPACTA',
    description:
      'Las herramientas esenciales para planear y medir el impacto de tus proyectos.',
      bg: 'bgimpacta.webp',
      anim: '3dimpacta.splinecode'
  },
];
---

<section class="pt-5 pb-16 sm:pb-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <div class="text-center text-xl max-w-2xl mx-auto">
        <strong class="text-main ">MOMENTUM ALTERNATIVA</strong> cuenta con 3 ejes estratégicos que potenciarán la activación de agentes de cambio, la colaboración entre personas de diversas comunidades, ideas y mentores, así como las herramientas y los recursos para llevar al cambio a la acción.
      </div>
      <div class="grid gap-8 lg:grid-cols-3 items-center">
        {
          services.map((service, index) => (

            <div class=" flex flex-col gap-12 shadow-xl bg-cover" data-aos="zoom-in" data-aos-mirror="true" data-aos-duration="1000" style={`background-image: url(assets/${service.bg});`} class:list={[index==1 && 'md:mt-48', index==2 && 'md:mt-96']} >
              <div class="flex flex-col gap-4 py-20" >
                <!-- <h3 class="text-5xl font-display font-bold dark:text-primary-500">{service.name}</h3> -->
                <div class="-mt-20"><Scene3D anim={service.anim}></Scene3D></div>
                <div class="text-dark font-bold dark:text-primary-800/70 text-base sm:text-xl px-4  text-center">
                  {service.description}
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
