---
import Singleline from "./Singleline.astro";

const testimonials = [
  {
    name: 'Joana L.',
    description: 'Ambientalista',
    image: '/assets/testimonial-1.webp',
    message:
      '“Momentum Alternativa me ayudó a desarrollar las habilidades necesarias para iniciar un proyecto de impacto ambiental en mi comunidad. Los cursos en línea son muy completos y las herramientas disponibles facilitaron la implementación de mi idea.”',
  },
  {
    name: 'Rosa Martínez',
    description: 'Innovador Social',
    image: '/assets/testimonial-3.webp',
    message:
      '“A través de la plataforma pude conectar con mentores que me guiaron para mejorar mi emprendimiento social. El apoyo que recibí fue invaluable para hacer crecer mi organización.”',
  },
  {
    name: 'Luisa Torres',
    description: 'Emprendedora social',
    image: '/assets/testimonial-2.webp',
    message:
      '“Los retos grupales de Momentum Alternativa me permitieron colaborar con personas de distintas partes del país para diseñar soluciones innovadoras. Esta interacción enriqueció mi perspectiva como agente de cambio.”',
  },
  
];
---

<Singleline></Singleline>

<section class="py-16 sm:py-20">  
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-bold tracking-tight sm:text-4xl">
        Momentum Alternativa es parte de la confianza de nuestros clientes.
      </h2>
      <div
        class="divide-primary-900/10 dark:divide-primary-300/10 grid divide-y lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="text-primary-600 dark:text-primary-400 h-6 w-6"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="#e1a93c"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-primary-950/70 dark:text-primary-200/70 text-center text-lg italic leading-loose">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <img class="mx-auto h-8 w-8 rounded-full" src={testimonial.image} alt="" />
                <div class="text-center">
                  <div class="text-base font-bold text-main">{testimonial.name}</div>
                  <div class="text-primary-950/70 dark:text-primary-200/70 text-sm">
                    {testimonial.description}
                  </div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
    </div>
  </div>
</section>

<div class="-scale-100"><Singleline></Singleline></div>
