---
import Scene3D from "../inner/scene3d.astro";
---
<div>

    <div class=" bg-[#f6f186] gap-5 grid grid-cols-1 md:grid-cols-2 " >
        <div>
            <div class=""><Scene3D anim="intro3.splinecode"></Scene3D></div>
        </div>
        <div class="relative flex-justify-center items-center">
        <div id="playButton" class="absolute left-1/4 bottom-1/4 w-20 h-20 flex justify-center items-center rounded-full bg-white z-10 cursor-pointer" x-on:click="playvideo()">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M21.409 9.353a2.998 2.998 0 0 1 0 5.294L8.597 21.614C6.534 22.736 4 21.276 4 18.968V5.033c0-2.31 2.534-3.769 4.597-2.648l12.812 6.968Z"/></svg>
        </div>
        <img src="assets/bien-poster.webp"  class="w-full aspect-square" id="postervideo">
        </div>
    </div>
</div>

<script is:inline>
    
    if (typeof videojs === 'undefined') {
    var player;
    var script = document.createElement('script');
    script.src = 'https://vjs.zencdn.net/8.6.1/video.min.js';
    script.type = 'text/javascript';

    script.onload = function() {
        console.log("Script loaded successfully.");
        // You can initialize your videojs player here
        //startVideoPlayer()
    };

    script.onerror = function() {
        console.error("There was an issue loading the script.");
    };

    document.head.appendChild(script);
} else {
    console.log("videojs already exists.");
}
    



    function playvideo(){
        var idran = 'video'+Math.round(Math.random()*100)
        document.getElementById('playButton').style.display = 'none';
        let postervideoElement = document.getElementById('postervideo')
        var video = document.createElement('video');
        video.setAttribute('id', idran)
        video.setAttribute('src', 'assets/bien-web.mp4')
        //video.setAttribute('autoplay', true)
        video.classList.add('video-js', 'w-full', 'aspect-square')
        postervideoElement.parentNode.insertBefore(video, postervideoElement.nextSibling);

        player = videojs(idran, {
            fluid: true,
            autoplay: true,
            aspectRatio: '1:1',
            src: 'assets/bien-web.mp4'
        });
        player.play()


        postervideoElement.style.display = 'none';
    }
</script>
